*{
    margin: 0;
    padding: 0;
}
body{
    padding: 1rem;
}

h1{
    color: maroon;
}
#container{
    height: 82vh;
    margin: 1rem;
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    overflow: scroll;

}
.username{
    font-style: italic;
}
.post{
    height: 15rem;
    width: 12rem;
    padding: 0 1rem;
    background-color: antiquewhite;
    border-radius: 13px;
    box-shadow: 0 2px 6px black;
}
.content{
    margin: 1rem 0;
    min-height: 50%;
    border: 1px solid black;
    padding: 0.3rem;
    border-radius: 13px;
    overflow: hidden;
}
.options{
    display: flex;
    gap: 0.2rem;
    width: 100%;
}

button{
    height: 2rem;
    min-width: 2.5rem;
    padding: 0.3rem;
    border: none;
    background-color: #fff;
    box-shadow: 0 1px 3px black;
}

a{
    text-decoration: none;
    color: black;
    box-shadow: 0 1px 3px black;
    background-color: #fff;
    padding: 0.5rem;
    font-size: 14px;

}

input, textarea{
    padding: 0.3rem;
    border: none;
    background-color: #fff;
    box-shadow: 0 1px 3px black;
}
input{
   height: 2rem; 
}
